<div id="team_list">
	<h1>Team List</h1>
	<div id="body">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>name</th>
				<th>win</th>
				<th>lose</th>
				<th>팀원</th>
				<th>K/D/A</th>
				<th>other</th>
			</tr>
		</thead>
		<tbody>
			<% @teams.each do |team| %>
			<%
			win_count = Match.where("winner_id = #{team.id}").count
			lose_count = Match.where("loser_id = #{team.id}").count
			%>
			<tr>
				<td><%=link_to team.name, team_path(team),style: "background:none"%></td>
				<td><%=win_count%></td>
				<td><%=lose_count%></td>
				<td>
					<% team.users.each do |user| %>
						<%= link_to user.name, user_path(user.id) %><br>
					<% end %>
				</td>
				<td>
					<%= render "kda", id: team.id %>
				</td>
				<td>
					<%= link_to 'edit', edit_team_path(team), class: "btn btn-mini btn-default glyphicon glyphicon-pencil" %>
					<%= link_to 'destroy', team_path(team), class: "btn btn-mini btn-default glyphicon glyphicon-trash", method: :delete %>
					<%= link_to 'comment', "#", class: "btn btn-mini btn-default glyphicon glyphicon-edit" %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	
		<div class="new_team">
		<% if current_user %>
		<%= link_to 'New Team', new_team_path,class: "btn btn-mini btn-default glyphicon glyphicon-plus" %>
		<% end%>
		</div>
		
	</div>
<div>
