
<div id="user_profile">
	<div class="panel panel-info user_team">
		<div class="panel-heading">
			<h3 class="panel-title">Team</h3>
		</div>
		<div class="panel-body">
			<% if @team.present? %> 
				<%= image_tag @team.image_url(:rect), align: "left" %>
				<div><strong>id:</strong><%= @user.name %></div>
				<div><strong>team name:</strong><%= @team.name %></div>
				<%
					win_count = Match.where("winner_id = #{@team.id}").count
					lose_count = Match.where("loser_id = #{@team.id}").count
				%>
				<div><strong>win :</strong> <%= win_count %>  </div>
				<div><strong>lose :</strong><%= lose_count %> </div>
				<div>
					<strong>line:</strong>
					<% if current_user.top == "1" %> 		탑 		|   <% end %>
					<% if current_user.ap == "1" %> 		미드 	|   <% end %>
					<% if current_user.ad == "1" %> 		원딜 	|   <% end %>
					<% if current_user.jungle == "1" %> 정글 	| 	<% end %>
					<% if current_user.mom == "1" %>    서포터   <% end %>  
				</div>
			<% else %>
					<div id="team_join"><a class="btn btn-success" href="#modal_join" data-toggle="modal">팀 가입하기</a></div>
			<% end %>
		</div>
	</div>
	<div class="panel panel-info user_champions">
		<div class="panel-heading">
				<h3 class="panel-title">Champions</h3>
		</div>
		<div class="panel-body user_champions_body">
			<% @champions.each do |champion|%>
				<% image_path = "/uploads/champion/image/" + champion.id.to_s + "/1.jpg" %>
				<%= image_tag image_path %>
			<% end %>
		</div>
	</div>
	<div class="panel panel-info league_schedule">
		<div class="panel-heading">
			<h3 class="panel-title">League Schedule</h3>
		</div>
		<div class="panel-body">
			<div id="calender">
				<div id="month">
					<%= calendar @matches do |match| %>
						<%= render "matches/show", match: match %>
					  <div><a data-toggle="modal" href="#<%= dom_id(match) %>", style="color:#aaa">
						<%= match.title %></a><span class="badge"><%=match.comments.count%></span></div>
					<% end %>
					<a  class="btn btn-success" href="#new_match" data-toggle="modal"> 경기일정 추가 </a>
			</div>
		</div>
	</div>
</div>

<!-- 팀 가입 modal -->
<div class="modal fade" id="modal_join" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
				<div class="modal-body">
						<%= simple_form_for @user do |f| %>
							<%= f.input :team_id, label: "Team", input_html: { class: "form-control" }, :as => :select, collection: @teams, :include_blank => false %>
							<%= f.submit "확인", :class => "btn btn-success mt10", confirm: "한번 결정한 팀은 변경하실수 없습니다."  %>
						<% end %>
				</div>	
		</div>
	</div>
</div>

<!-- 경기일청 추가 modal -->
<div class="modal fade" id="new_match" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
				<div class="modal-body">
						<%= simple_form_for @match, url: matchs_path  do |d| %>
							<%= d.input :title, input_html: { class: "form-control" } %>
							<%= d.label :matched_at %>
							<%= d.input :matched_at, as: :datetime, label: false %><br/><br/>
							<%= d.submit "확인", :class => "btn btn-success mt10"  %>
						<% end %>
				</div>	
		</div>
	</div>
</div>
